<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout}">
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>Recipe Details</title>
    <style>
        .user-info {
            display: flex;
            align-items: center;
        }

        .user-info img {
            margin-right: 10px;
        }

        .recipe-container {
            display: flex;
            flex-direction: column;

        }

        .recipe-title {
            text-transform: uppercase;
        }

        .recipe-description {
            margin-bottom: 20px;
        }

        .side-widgets {
            display: flex;
            flex-direction: column;
        }

        .side-widget {
            width: 300px;
            margin-bottom: 20px;
        }

        .comment-section {
            margin-top: 20px;
        }

        .pagination-section {
            margin-top: 20px;
        }

    </style>
</head>
<body class="d-flex flex-column">
<!-- Page Content-->
<section layout:fragment="body">
    <header class="py-4 bg-light border-bottom mb-2">
    </header>
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="recipe-container">
                <div class="row">
                    <div class="card mb-4 col-6" style="height:fit-content">
                        <img class="card-img-top" th:src="@{/images/recipe/{photoPath}(photoPath=${recipe.photoPath})}" alt="..." />
                        <div class="card-body">
                            <h2 class="card-title recipe-title" th:text="${recipe.recipeTitle}"></h2>
                            <div class="small text-muted recipe-description"
                                 th:text="${recipe.recipeDescription}"></div>
                        </div>
                        <div th:if="${!#strings.isEmpty(recipe.user.photoPath) || recipe.user.photoPath != null}" style="height: 50px; width: 50px">
                            <img class="rounded img-thumbnail" style="border-radius: 100rem!important;" th:src="@{/images/profile/{photoPath}(photoPath=${recipe.user.photoPath})}" />
                        </div>
                        <div th:unless="${!#strings.isEmpty(recipe.user.photoPath) || recipe.user.photoPath != null}" style="height: 50px; width: 50px; background-color:#e9e9e9; border-radius: 100rem!important;">
                        </div>
                        <div class="name">
                            <h6 class="card-title" th:text="|${#strings.capitalize(recipe.user.firstName)} ${#strings.capitalize(recipe.user.lastName)} |"></h6>
<!--                            <p th:text="${#temporals.format(comment.createdOn , 'MMMM-dd-yyyy hh:mm:a') }"></p>-->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="side-widgets">
                            <div class="side-widget">
                                <div class="card mb-6">
                                    <div class="card-header" style="text-transform: uppercase">Category</div>
                                    <div class="card-body">
                                        <p class="lead mb-0" th:text="${recipe.category.categoryName}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="side-widget">
                                <div class="card mb-6">
                                    <div class="card-header" style="text-transform: uppercase">Ingredients</div>
                                    <div class="card-body" th:each="ingredient : ${recipe.ingredients}">
                                        <p th:text="|• ${#numbers.formatInteger(ingredient.quantity,0)}  ${ingredient.unit} of ${ingredient.ingredients}|"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="side-widget">
                                <div class="card mb-6">
                                    <div class="card-header" style="text-transform: uppercase">Procedure</div>
                                    <div class="card-body" th:each="step : ${recipe.procedures}">
                                        <p th:text="|• ${step.step}|"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

<!--                    <div class="comment-section">-->
<!--                        <div class="card mb-5" th:each="comment : ${recipe.comments}">-->
<!--                            <div class="card-body">-->
<!--                                <div class="user-info">-->
<!--                                    <div th:if="${!#strings.isEmpty(comment.user.photoPath) || comment.user.photoPath != null}" style="height: 50px; width: 50px">-->
<!--                                        <img class="rounded img-thumbnail" style="border-radius: 100rem!important;" th:src="@{/images/profile/{photoPath}(photoPath=${comment.user.photoPath})}" />-->
<!--                                    </div>-->
<!--                                    <div th:unless="${!#strings.isEmpty(comment.user.photoPath) || comment.user.photoPath != null}" style="height: 50px; width: 50px; background-color:#e9e9e9; border-radius: 100rem!important;">-->
<!--                                    </div>-->
<!--                                    <div class="name">-->
<!--                                        <h6 class="card-title" th:text="|${#strings.capitalize(comment.user.firstName)} ${#strings.capitalize(comment.user.lastName)} |"></h6>-->
<!--                                        <p th:text="${#temporals.format(comment.createdOn , 'MMMM-dd-yyyy hh:mm:a') }"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p th:text="${comment.comment}"></p>-->

<!--                    <div class="col-lg-4">-->
<!--                        <div class="side-widgets">-->
<!--                            <div class="side-widget">-->
<!--                                <div class="card mb-6">-->
<!--                                    <div class="card-header" style="text-transform: uppercase">Category</div>-->
<!--                                    <div class="card-body">-->
<!--                                        <p class="lead mb-0" th:text="${recipe.category.categoryName}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="side-widget">-->
<!--                                <div class="card mb-6">-->
<!--                                    <div class="card-header" style="text-transform: uppercase">Ingredients</div>-->
<!--                                    <div class="card-body" th:each="ingredient : ${recipe.ingredients}">-->
<!--                                        <p th:text="|• ${ingredient.ingredients}|"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="side-widget">-->
<!--                                <div class="card mb-6">-->
<!--                                    <div class="card-header" style="text-transform: uppercase">Procedure</div>-->
<!--                                    <div class="card-body" th:each="step : ${recipe.procedures}">-->
<!--                                        <p th:text="|• ${step.step}|"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                    </div>-->

                <div class="comment-section">
                    <div class="card mb-5" th:each="comment : ${recipe.comments}">
                        <div class="card-body">
                            <div class="user-info">
                                <div th:if="${!#strings.isEmpty(comment.user.photoPath) || comment.user.photoPath != null}" style="height: 50px; width: 50px">
                                    <img class="rounded img-thumbnail" style="border-radius: 100rem!important;" th:src="@{/images/profile/{photoPath}(photoPath=${comment.user.photoPath})}" />
                                </div>
                                <div th:unless="${!#strings.isEmpty(comment.user.photoPath) || comment.user.photoPath != null}" style="height: 50px; width: 50px; background-color:#e9e9e9; border-radius: 100rem!important;">
                                </div>
                                <div class="name">
                                    <h6 class="card-title" th:text="|${#strings.capitalize(comment.user.firstName)} ${#strings.capitalize(comment.user.lastName)} |"></h6>
                                    <p th:text="${#temporals.format(comment.createdOn , 'MMMM-dd-yyyy hh:mm:a') }"></p>
                                </div>
                            </div>
                        </div>
                        <div class="container my-3">
                        <p th:text="${comment.comment}"></p>
                        <div class="d-flex">
                            <div th:if="${comment.user.id == user.id}">
                                <form th:action="@{/comments/delete/{id}(id=${comment.id})}" th:method="post">
                                    <input type="hidden" name="id" th:value="${comment.id}" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                            <div th:if="${comment.user.id == user.id}">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editComment">
                                    Update
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="editComment" tabindex="-1" role="dialog" aria-labelledby="editedComment" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editedComment">Edit Comment</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:if="${comment.user.id == user.id}" th:action="@{/comments/update/{id}(id=${comment.id})}" th:method="post">
                                                    <div class="form-group">
                                                        <input type="hidden" name="id" th:value="${comment.id}" />
                                                        <textarea class="form-control" rows="3" name="comment"></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                    <div class="card mb-5">
                        <div class="card-body">
                            <form role="form" method="post" th:action="@{/comments/save/{recipeID}(recipeID=${recipe.id})}" th:object="${comment}">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="userComment" class="card-title">Comment</label>
                                        <textarea class="form-control" id="userComment" name="comment" rows="3"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
</body>
</html>
