<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout}">
<head>
  <title>Recipe Query</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-px2nDO1n6TfqyFhCRbvLldxtJ9G/6he7cg8NQmGSGLN6S+o6bcwIkUuF9Tj8aXzvZAIIE9tWuH8MNz8NV1RG3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-normal text-uppercase">Recipe Results</h1>
      </div>
      <div class="row gx-5">
        <div th:if="${recipes.empty}" class="col-lg-12 mb-2">
          <div class="position-relative mb-3 text-uppercase text-center">
            <h4>No Recipes found</h4>
          </div>
        </div>
        <div th:each="recipe : ${recipes}" class="col-lg-6 mb-2">
          <div class="position-relative mb-3 text-uppercase text-center">
            <img class="img-fluid rounded-3 mb-3" th:src="@{/images/recipe/{photoPath}(photoPath=${recipe.photoPath})}" alt="..." />
            <a th:text="${recipe.recipeTitle}" class="h4 text-decoration-none link-dark stretched-link" th:href="@{/recipes/{id}(id=${recipe.id})}"></a>
          </div>
          <div class="d-grid gap-2">
            <a class="btn btn-primary" th:href="@{/recipes/{id}(id=${recipe.id})}">View</a>
            <a class="btn btn-primary" th:href="@{/recipes/{id}/edit(id=${recipe.id})}">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 bg-light">
    <div class="container px-5 my-5">
      <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
      <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
    </div>
  </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha512-p7gnTHifAGL3O8ZI1D8RlkyJNUKrajezwaL6t6MjOlM3ebIxS5BpB3QNm+Y6Kg8sdipRzRLQ6jriyQ1RX5vQcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
