<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Set your new password</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <h1>Set your new password</h1>
<!--      <p th:text="${resetPasswordFormDto}"></p>-->
      <form role="form" method="post" th:action="@{/new-password(verificationId=${verificationId})}" th:object="${newPasswordFormDto}">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    th:field="*{password}"
                    placeholder="Password"
                    maxlength=256>
            <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="confirmPassword">Confirm Password</label>
            <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    th:field="*{confirmPassword}"
                    placeholder="Confirm Password"
                    maxlength=256>
            <p th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger" th:errors="*{confirmPassword}"></p>
          </div>
        </div>
<!--        <input type="hidden" name="email" th:field="${resetPasswordFormDto.email}">-->

        <button type="submit" class="btn btn-primary">Confirm</button>
      </form>
    </div>
  </section>
</main>
</body>
</html>