<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Reset Password Success</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1>Reset Password Success</h1>
            <span>You have successfully reset your password.</span>
            <a th:href="@{/login}">Go to login</a>
        </div>
    </section>
</main>
</body>
</html>