<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{view/layout}">
<head>
    <title>Reset Password Link Sent</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h1>Reset Password Link Sent</h1>
            <span>Please check the reset password link sent to your email.</span>
        </div>
    </section>
</main>
</body>
</html>